1)  Find the val%e of T(2) for the rec%rrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [1]:
def recurrence_relation(n):
    if n == 0:
        return 5  # Base case: T(0) = 5
    else:
        return 3 * recurrence_relation(n - 1) + 12 * n

# Calculate T(2)
result_T2 = recurrence_relation(2)

print("The value of T(2) is:", result_T2)

The value of T(2) is: 105

2. Given a recurrence relation, solve it using the substution method:
a. T(n) = T(n-1) + c
b. T(n) = 2T(n/2) + n
c. T(n) = 2T(n/2) + c
d. T(n) = T(n/2) + c

In [2]:
def recurrence_relation_a(n, c):
    if n == 0:
        return 0  # Base case: T(0) = 0
    else:
        return recurrence_relation_a(n - 1, c) + c

# Example usage
result_a = recurrence_relation_a(5, 3)
print("The value of T(5) is:", result_a)

The value of T(5) is: 15

In [3]:
def recurrence_relation_b(n):
    if n == 1:
        return 1  # Base case: T(1) = 1
    else:
        return 2 * recurrence_relation_b(n // 2) + n

# Example usage
result_b = recurrence_relation_b(8)
print("The value of T(8) is:", result_b)

The value of T(8) is: 32

In [4]:
def recurrence_relation_c(n, c):
    if n == 1:
        return c  # Base case: T(1) = c
    else:
        return 2 * recurrence_relation_c(n // 2, c) + c

# Example usage
result_c = recurrence_relation_c(4, 5)
print("The value of T(4) is:", result_c)

The value of T(4) is: 35

In [5]:
def recurrence_relation_d(n, c):
    if n == 1:
        return c  # Base case: T(1) = c
    else:
        return recurrence_relation_d(n // 2, c) + c

# Example usage
result_d = recurrence_relation_d(16, 2)
print("The value of T(16) is:", result_d)

The value of T(16) is: 10

3. Given a recurrence relation, solve it using the recursive tree approach:
a. T(n) = 2T(n-1) +1
b. T(n) = 2T(n/2) + n

In [6]:
def recurrence_relation_a(n):
    if n == 0:
        return 1  # Base case: T(0) = 1
    else:
        return 2 * recurrence_relation_a(n - 1) + 1

# Example usage
result_a = recurrence_relation_a(3)
print("The value of T(3) is:", result_a)

The value of T(3) is: 15

In [7]:
def recurrence_relation_b(n):
    if n == 1:
        return 1  # Base case: T(1) = 1
    else:
        return 2 * recurrence_relation_b(n // 2) + n

# Example usage
result_b = recurrence_relation_b(8)
print("The value of T(8) is:", result_b)

The value of T(8) is: 32